# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
myenv/

# Django migration logs or temp
*.log
*.pot
*.pyc

# Static files (generated on collectstatic)
staticfiles/

# Environment variables
.env

# IDE/editor folders
.vscode/
.idea/

# OS junk files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/
